<a href="https://colab.research.google.com/github/braunermello1979/igti_desafio_m1/blob/master/desafio_m1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import numpy as np  # biblioteca utilizada para tratar com número/vetores/matrizes
import matplotlib.pyplot as plt  # utilizada para plotar gráficos ao "estilo" matlab
import pandas as pd #biblioteca utilizada para realizar operações sobre dataframes

In [5]:
import io  #biblioteca utilizada para tratar os comandos de entrada e saida
data = pd.read_csv('data.csv') # utilizado para importar o arquivo CSV que contém o banco de dados

In [7]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [8]:
data.head() #comando utilizado para mostrar as 5 primeiras colunas do dataframe

   valid_import   item  ...  actual_weight  days_in_transit
0          True  cigar  ...    1637.661221        18.232857
1          True  cigar  ...     848.273419        32.436029
2          True  cigar  ...    1582.063911        16.996206
3          True  cigar  ...    1179.993817        19.965886
4          True  cigar  ...     781.735080        22.160034

[5 rows x 14 columns]

In [9]:
 df=pd.DataFrame(data)
 df

     valid_import   item  ...  actual_weight  days_in_transit
0            True  cigar  ...    1637.661221        18.232857
1            True  cigar  ...     848.273419        32.436029
2            True  cigar  ...    1582.063911        16.996206
3            True  cigar  ...    1179.993817        19.965886
4            True  cigar  ...     781.735080        22.160034
..            ...    ...  ...            ...              ...
115         False  cigar  ...    1827.472780        63.817343
116         False  cigar  ...     490.562199        61.979928
117         False  cigar  ...     136.161003        50.582027
118         False  cigar  ...      63.708666        44.787806
119         False  cigar  ...     955.979634        19.814924

[120 rows x 14 columns]